@page "{id:int?}"
@using RollOfHonour.Core.Enums
@model RollOfHonour.Web.Pages.Person.Edit

<section class="panel with-background bg-app">
<div class="container is-fluid">
<div class="breadcrumb-block with-margin-bottom">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a href="/" class="parent">
                    Home
                    <span class="spacer" aria-hidden="true">
                        <i class="fa-light fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a asp-page="/person/index" title="Memorials" class="parent">
                    People
                    <span class="spacer" aria-hidden="true">
                        <i class="fa-light fa-chevron-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a asp-page="/person/details" asp-route-id="@Model.Person!.Id" aria-current="location" class="current">
                    About @Model.Person!.Name
                </a>
            </li>
        </ol>
    </nav>
</div>

<div class="columns is-multiline">
<div class="column is-full-tablet is-8-desktop is-8-fullhd">
    <div class="person-block">
        <div class="war-label">
            @if (Model.Person.War == War.WW1)
            {
                <img class="ww-insignia" src="/images/insignia-ww1.png" alt="This data is related to World War 1">
            }
            else
            {
                <img class="ww-insignia" src="/images/insignia-ww2.png" alt="This data is related to World War 2"/>
            }
        </div>

        <span style="color:red">@Html.Raw(Model.ErrorMessage)</span>

        @if (Model.Person.PersonType == PersonType.Military)
        {
            <form method="post">
                <label asp-for="War"></label>
                <select asp-for="War" asp-items="Html.GetEnumSelectList<War>()"></select>

                <br/>
                <br/>

                Rank:
                            <input asp-for="EditFormPerson!.Rank" />
                
                <br/>
                <br/>
                
                First Name:
                            <input asp-for="EditFormPerson!.FirstNames" />

                <br />
                <br />

                Last Name:
                            <input asp-for="EditFormPerson!.LastName" />
                
                <br/>
                <br/>

                Service Number:
                            <input asp-for="EditFormPerson!.ServiceNumber" />

                <br />
                <br />

                Military Unit:
                            <input asp-for="EditFormPerson!.Unit" />
                
                <br />
                <br />

                Military Regiment:
                            <input asp-for="EditFormPerson!.Regiment" />
                
                <br />
                <br />

                Place of Birth:
                            <input asp-for="EditFormPerson!.PlaceOfBirth" />

                <br />
                <br />

                Employment (Employment, Education, or Hobbies):
                            <input asp-for="EditFormPerson!.EmploymentHobbies" />
                
                <br />
                <br />

                Family History
                            <input asp-for="EditFormPerson!.FamilyHistory" />
                
                <br />
                <br />

                Military History
                            <input asp-for="EditFormPerson!.MilitaryHistory" />
                
                <br />
                <br />

                Extra Information
                            <input asp-for="EditFormPerson!.ExtraInfo" />
                
                <br />
                <br />

                <input type="submit" value="Save"/>
            </form>

        }
        @if (Model.Person.PersonType == PersonType.Civilian)
        {
            <form method="post">

                First Names:
                <input asp-for="EditFormPerson!.FirstNames"/>

                <br/>
                <br/>

                Last Name:
                <input asp-for="EditFormPerson!.LastName"/>

                <br />
                <br />

                @*Commented out form inputs are currently in a format difficult to bind to front-end
            add a text box and suggested format with form validation?
            *@
                Address:
                <input asp-for="EditFormPerson!.AddressAtEnlistment" />

                @*
            Date of Birth:
            <input asp-for="Person!.DateOfBirth" />

            Date of Death:
            <input asp-for="Person!.DateOfDeath" />
            *@

                <br />
                <br />

                Place of Birth:
                <input asp-for="EditFormPerson!.PlaceOfBirth"/>

                <br />
                <br />

                Employment (Employment, Education, or Hobbies):
                <input asp-for="EditFormPerson!.EmploymentHobbies"/>

                <br />
                <br />
                
                Family History
                <input asp-for="EditFormPerson!.FamilyHistory" />
                
                <br />
                <br />

                Extra Information
                <input asp-for="EditFormPerson!.ExtraInfo" />
                
                <br />
                <br />

                <input type="submit"/>
            </form>
        }

    </div>

    <div class="person-details-block">
        <div class="tabs-block">
            <div class="tabList-container">
                <ul role="tablist">
                    <li id="tab-01" role="tab" tabindex="0" aria-selected="true" aria-controls="tabpanel-01">
                        <i class="fa-light fa-family"></i> Family History
                    </li>
                    @if (Model.Person.PersonType == PersonType.Military)
                    {
                        <li id="tab-02" role="tab" tabindex="-1" aria-selected="false" aria-controls="tabpanel-02">
                            <i class="fa-light fa-person-military-rifle"></i> Military History
                        </li>
                    }
                    <li id="tab-03" role="tab" tabindex="-1" aria-selected="false" aria-controls="tabpanel-03">
                        <i class="fa-light fa-circle-info"></i> Extra Information
                    </li>
                    <li id="tab-04" role="tab" tabindex="-1" aria-selected="false" aria-controls="tabpanel-04">
                        <i class="fa-sharp fa-solid fa-image-polaroid"></i> Photographs
                    </li>
                </ul>
            </div>
            <div id="tabpanel-01" role="tabpanel">
                <div class="tab-title"><i class="fa-light fa-family"></i> Family History</div>
                <div class="text-block">
                    <p>
                        @Model.Person.FamilyHistoryString
                    </p>
                </div>
            </div>

            @if (Model.Person.PersonType == PersonType.Military)
            {
                <div id="tabpanel-02" role="tabpanel" class="hide">
                    <div class="tab-title"><i class="fa-light fa-person-military-rifle"></i> Military History</div>
                    <div class="text-block">
                        <p>
                            @Model.Person.MilitaryHistoryString
                        </p>
                    </div>
                </div>
            }
            <div id="tabpanel-03" role="tabpanel" class="hide">
                <div class="tab-title"><i class="fa-light fa-circle-info"></i> Extra Information</div>
                <div class="text-block">
                    <p>
                        @Model.Person.ExtraInfoString
                    </p>
                </div>
            </div>

            <div id="tabpanel-04" role="tabpanel">
                <div class="tab-title"><i class="fa-sharp fa-solid fa-image-polaroid"></i> Photographs</div>
                @if (Model.Person.Photos.Any())
                {
                    <div class="gallery-block">
                        <div class="columns is-multiline">

                            @foreach (var photo in Model.Person.Photos)
                            {
                                <div class="column is-4-desktop">
                                    <a href="@photo.ImageUriMedium" title="@photo.Description">
                                        <div class="picture-block short styled-alt">
                                            <div class="picture-border">
                                                <div class="picture-embed" style="background-image: url(@photo.ImageUriOriginal);"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                }
                else
                {
                    <div class="text-block">
                        <p>
                            No Photos
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="column is-full-tablet is-4-desktop is-4-fullhd">
    <aside class="sidebar">
        <div class="picture-block profile-picture">
            <div class="picture-border">
                @if (@Model.Person.MainPhoto is not null)
                {
                    <div class="picture-embed" style="background-image: url(@Model.Person.MainPhoto.ImageUriOriginal);"></div>
                }
                else
                {
                    <div class="picture-embed" style="background-image: url(../images/poppy.jpg);"></div>
                }
            </div>
        </div>

        <div class="plaque-block with-margin-bottom with-margin-top">
            <span class="subtitle">Remembering</span>
            <span class="name">@Model.Person.Name</span>

            <span class="lived">@Model.Person.LivedFromUntilString</span>
        </div>

        @if (Model.Person.Decorations.Any() && Model.Person.PersonType == PersonType.Military)
        {
            <div class="decorations-block">
                <h3>Decorations</h3>

                <ul>

                    @foreach (var decoration in Model.Person.Decorations)
                    {
                        <li>
                            <span class="title">@decoration.Name</span>
                        </li>
                    }

                </ul>
            </div>
        }

        <div class="remembered-on-block with-margin-top">
            @if (Model.Person.PersonType == PersonType.Military)
            {
                <h3>Remembered on...</h3>

                <ul>
                    @foreach (var memorial in Model.Person.Memorials)
                    {
                        <li>
                            <div class="bg-icon">
                                <i class="fa-light fa-monument"></i>
                            </div>
                            <a asp-page="/Memorial/Details"
                               asp-route-id="@memorial.Key" title="Learn about @memorial.Value">
                                @memorial.Value
                            </a>
                        </li>
                    }
                </ul>
            }

            <div class="cwgc-link">
                <img src="/images/logo-cwgc.png" title="Commonwealth War Graves Commission">
                <a href="https://www.cwgc.org/find-war-dead/casualty/@Model.Person.Cwgc/" target="_blank">
                    Grave Number @Model.Person.Cwgc <i class="fa-light fa-arrow-up-right-from-square"></i>
                </a>
            </div>
        </div>


    </aside>
</div>
</div>

</div>
</section>