@page
@model RollOfHonour.Web.Pages.Memorial.Details

<section class="panel with-background bg-app">
    <div class="container is-fluid">
        <div class="breadcrumb-block with-margin-bottom">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li>
                        <a href="/" class="parent">
                            Home
                            <span class="spacer" aria-hidden="true">
                                <i class="fa-light fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/memorial/index" title="Memorials" class="parent">
                            Memorials
                            <span class="spacer" aria-hidden="true">
                                <i class="fa-light fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/memorial/details" asp-route-id="@Model.Memorial!.Id" title="Memorials" class="parent">
                            About @Model.Memorial!.Name
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="columns is-multiline">
            <div class="column is-full-tablet is-8-desktop is-8-fullhd">

                <div class="memorial-block">
                    <span class="memorial-name">@Model.Memorial!.Name</span>
                    <div class="memorial-description">
                        <div class="text-block">
                            <p>@Model.Memorial.Description</p>
                        </div>

                        <div class="names-remembered">
                            <span class="label"><i class="fal fa-monument"></i> Identified casualties</span>
                            @if (Model.Memorial.NamesCount < 1)
                            {
                                <span class="data"></span>
                            }
                            @if (Model.Memorial.NamesCount == 1)
                            {
                                <span class="data">@Model.Memorial.NamesCount person</span>
                            }
                            else
                            {
                                <span class="data">@Model.Memorial.NamesCount people</span>
                            }
                        </div>

                    </div>
                </div>
                <div class="tabs-block">
                    <div class="tabList-container">
                        <ul role="tablist">
                            <li id="tab-01" role="tab" tabindex="0" aria-selected="true" aria-controls="tabpanel-01">
                                <i class="fas fa-stream"></i> Names on this memorial
                            </li>
                            <li id="tab-02" role="tab" tabindex="-1" aria-selected="false" aria-controls="tabpanel-02">
                                <i class="fas fa-map-marked-alt"></i> Location
                            </li>
                            <li id="tab-03" role="tab" tabindex="-1" aria-selected="false" aria-controls="tabpanel-03">
                                <i class="fa-sharp fa-solid fa-image-polaroid"></i> Photographs
                            </li>
                        </ul>
                    </div>
                    <div id="tabpanel-01" role="tabpanel">
                        <div class="tab-title"><i class="fas fa-stream"></i> Names on this memorial</div>
                        <ul class="names-list">
                            @foreach (var recName in Model.Memorial.RecordedNames)
                            {
                                <li>
                                    <a asp-page="/person/Details" asp-route-id="@recName.PersonId"
                                       title="Learn more about @recName.AsRecorded">
                                        @recName.AsRecorded
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>

                    <div id="tabpanel-02" role="tabpanel">
                        <div class="tab-title"><i class="fas fa-map-marked-alt"></i> Location</div>
                        <div class="map-block">
                            <div class="map-container">
                                <div id="nccMap" style="width: 100%; height: 450px; position: relative;" class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0">
                                    <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);">
                                        <div class="leaflet-pane leaflet-tile-pane">
                                            <div class="leaflet-bottom leaflet-left"></div>
                                            <div class="leaflet-bottom leaflet-right">
                                                <div
                                                    class="leaflet-control-attribution leaflet-control esri-truncated-attribution:hover esri-truncated-attribution">
                                                    <a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | Powered by <a href="https://www.esri.com">Esri</a> |
                                                    <span class="esri-dynamic-attribution">USGS, NOAA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tabpanel-03" role="tabpanel">

                        <div class="tab-title"><i class="fa-sharp fa-solid fa-image-polaroid"></i> Photographs</div>

                        <div class="gallery-block">
                            <div class="columns is-multiline">

                                @foreach (var photo in Model.Memorial.Photos)
                                {
                                    <div class="column is-4-desktop">
                                        <a href="@photo.ImageUriMedium"
                                           title="Portrait of Reginald Dudley Bawdwen Anderson. Courtesy of Worksop College">
                                            <div class="picture-block short styled-alt">
                                                <div class="picture-border">
                                                    <div class="picture-embed" style="background-image: url(@photo.ImageUriOriginal);"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-full-tablet is-4-desktop is-4-fullhd">
                <aside class="sidebar">
                    <div class="picture-block memorial-picture">
                        <div class="picture-border">
                            @if (@Model.Memorial.MainPhoto is not null)
                            {
                                <div class="picture-embed" style="background-image: url(@Model.Memorial.MainPhoto.ImageUriOriginal);"></div>
                            }
                            else
                            {
                                <div class="picture-embed" style="background-image: url(./images/poppy-grey.jpg);"></div>
                            }
                        </div>
                    </div>
                    @if (!String.IsNullOrEmpty(Model.Memorial.UKNIWMRef))
                    {
                        <div class="iwm-link">
                            <img src="/images/logo-iwm.png" title="Imperial War Museum Logo"/>
                            <a href="https://www.iwm.org.uk/memorials/item/memorial/@Model.Memorial.UKNIWMRef"
                               target="_blank">
                                WM Reference @Model.Memorial.UKNIWMRef<i class="fa-light fa-arrow-up-right-from-square"></i>
                            </a>
                        </div>
                    }
                </aside>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<script>
      // All the code for the leaflet map will come here
      const map = L.map('nccMap', {
        scrollWheelZoom:false,
        center: [@Model.Memorial.Location?.Coordinate.X, @Model.Memorial.Location?.Coordinate.Y],
        zoom: 17
      });
      
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);
      
      const basicMemorialIcon = L.icon({
              iconUrl: '../images/insignia-memorial.png',
              iconSize: [30, 30]
            });
      
      const memorialMarker = L.marker([@Model.Memorial.Location?.Coordinate.X, @Model.Memorial.Location?.Coordinate.Y], {icon: basicMemorialIcon, alt: '@Model.Memorial.Name'})
      .bindPopup('@Model.Memorial.Name')
      .addTo(map);
      
    </script>