@using RollOfHonour.Web.Pages.Shared.ViewComponents
@model PaginationViewModel

<div class="pagination-block">
    <ul>
        @if (@Model.HasPreviousPage)
        {
        <li>
            <a asp-page="@Model.Slug" asp-route-pageIndex="@(Model.CurrentPage - 1)">
                <i class="fa-light fa-chevron-left"></i>
            </a>
        </li>
        }
        @foreach (var pageNum in Model.PageRange)
        {
            var active = pageNum == Model.CurrentPage ? "active" : "inactive";
            <li class="@active">
                <a asp-page="@Model.Slug" asp-route-pageIndex="@pageNum">@pageNum</a>
            </li>
        }
        @if (@Model.HasNextPage)
        {
        <li>
            <a asp-page="@Model.Slug" asp-route-pageIndex="@(Model.CurrentPage + 1)">
                <i class="fa-light fa-chevron-right"></i>
            </a>
        </li>
        }
    </ul>
</div>